{% extends "_base.html" %}
{% block title %}
    Products
{% endblock title %}
{% block content %}
    <h2>List of Available Products</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            <b>AED</b> {{ product.price }} / <b>Kg</b>
                        </p>
                        <form method="post" action="{% url 'add_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <button class="add__to__cart__btn btn btn-primary"
                                    data-product-id="{{ product.id }}">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
